/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* !Css start */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #004643;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fffffe;
}
p{
    color: #abd1c6;
}
main {
    background-color: #abd1c6;
}

.btn-primary {
    color: #001e1d;
    background-color: #f9bc60;
    padding: 10px 20px;
    border-radius: 10px;
}
/* Header */
#main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo a{
    font-size: 40px;
    font-weight: 700;
    color: #fffffe;
}
#main-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-header nav ul li a {
    color: #fffffe;
    padding: 10px 20px;
    margin-left: 10px;
}
#main-header nav ul li a:hover,
#main-header nav ul li a:active {
    border-bottom: 2px solid #f9bc60;
}
/* Body */
main h1 {
    color: #001e1d;
    text-align: center;
    padding: 20px 10px 10px 10px;
}
main ul {
    display: flex;
    justify-content: center;
}
.card {
    background-color: #001e1d;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}
.card article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card article img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-content h2 {
    margin: 10px 0;
}
footer {
    text-align: center;
    padding: 20px 10px;
}
footer p a {
    color: #abd1c6;
}
footer p a:hover {
    color: #f9bc60;
}