/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* !Css start */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #004643;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fffffe;
}
p{
    color: #abd1c6;
}
main {
    background-color: #abd1c6;
    padding: 40px 0px;
}

.btn-primary {
    color: #001e1d;
    background-color: #f9bc60;
    padding: 10px 20px;
    border-radius: 10px;
}
/* Header */
#main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}
.logo a{
    font-size: 2rem;
    font-weight: 700;
    color: #fffffe;
}
#main-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-header nav ul li a {
    font-size: 1.2rem;
    color: #fffffe;
    padding: 0.7rem 1rem;
    margin-left: 1rem;
}
#main-header nav ul li a:hover,
#main-header nav ul li a:active {
    border-bottom: 2px solid #f9bc60;
}
.menu-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    /* align-items: center; */
}
.menu-icon span {
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #f9bc60;
}
#side-bar header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 5%;
}
/* aside */
#side-bar {
    width: 100%;
    height: 100%;
    background-color: #001e1d;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#side-bar:target {
    display: block;
}
#side-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 4rem 1rem;
}
#side-bar ul li {
    margin: 1rem 0.2rem;
}
#side-bar ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #abd1c6;
}
/* Body */
main h1 {
    color: #001e1d;
    text-align: center;
    padding: 20px 10px 10px 10px;
}
main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;
    margin: 0;
    padding: 0;
}
.card {
    width: 80%;
    background-color: #001e1d;
    margin: 2rem auto;
    border-radius: 10px;
    overflow: auto;

}
.card article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card article img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    /* border-radius: 10px; */
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 24px;
}
.card-content h2 {
    margin: 0 0 1rem 0;
}
footer {
    text-align: center;
    padding: 1.1rem 0.7rem;
}
footer p a {
    color: #abd1c6;
}
footer p a:hover {
    color: #f9bc60;
}
/* Media Query */
@media (max-width: 48rem) {
    main ul {
        grid-template-columns: 100%;
    }
    main h1 {
        font-size: 1.5rem;
    }
    header nav {
        display: none;
    }
    .card-content{
        font-size: 1rem;
    }
    .menu-icon {
        display: flex;
    }
}